body {
 background: #151B54;
 background-color: #151B54;
 background-image: linear-gradient(to bottom, black, #151B54, #36013F);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: 500% 100%;
 font-family: Verdana, Tahoma, Helvetica, Sans-serif;
 font-size: 12px;
 margin: 0px;
 -webkit-user-select: none; /* Safari */
 -ms-user-select: none; /* IE 10 and IE 11 */
 user-select: none; /* Standard syntax */
}

body::-webkit-scrollbar { display: none; }

.return { position: absolute; right: 12px; top: 6px; color: white; font-size: 20px; transition: 3s; }

.fullScreen {
 position: absolute;
 top: 22px; right: 22px;
 background: transparent;
 font-size: 20px;
 color: lightgray;
 cursor: pointer;
}

.titleDiv {
 margin: auto;
 margin-bottom: 12px;
 width: 88%;
 align: center;
 font-size: 1em;
 font-weight: bold;
 color: white;
 padding: 16px;
 }

.rollDiv {
 margin: auto;
 margin-bottom: 26px;
 width: 50%;
 color: white;
 background: #AAAAFF88;
 border: 2px dashed white;
 border-radius: 16px;
 padding: 12px;
 }

.theInputs {
 width: 320px;
 margin: auto;
 margin-left: 20%;
 color: #0000CC;
 background: #FFF;
 text-align: center; font-size: 14px;
 font-family: Verdana, Tahoma, Helvetica, Sans-serif;
 border: 1px solid cornflowerblue;
 border-radius: 12px;
 padding: 8px;
 text-transform: capitalize;
 box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 0.5);
 }

.theInputs::placeholder { opacity: 0.6; color: red; }
.theInputs:focus { background-color: #FFFF66ee; outline: none; border: 1px solid #FF3333cc; }

.theInputs[readonly] { cursor: not-allowed; }

.buttonsDiv {
 display: grid;
 margin: auto;
 margin-bottom: 10px;
 transform: translate(16%, 0px);
 width: 232px;
 align-items: center;
 justify-content: center;
 background: #FFFFFF33;
 border: 1px solid lightgray;
 border-radius: 12px;
 padding: 6px;
 box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 0.5);
 }

.thisButton {
 width: 120px;
 text-align: center;
 font-weight: bold;
 color: lightgray;
 border: 2px solid lightgray;
 border-radius: 6px;
 margin: 6px 32px;
 padding: 6px 24px;
 cursor: pointer;
 }

.thisButton:hover {
 color: white;
 border: 2px solid white;
 box-shadow: 2px 3px 4px 2px rgb(0 0 0 / 0.1);
 }

.theButtons {
 margin: auto;
 width: 164px;
 font-size: 12px;
 font-family: Verdana, Tahoma, Helvetica, Sans-serif;
 font-weight: bold;
 text-align: center;
 color: lightgray;
 border: 2px solid lightgray;
 border-radius: 6px;
 margin: 6px 32px;
 padding: 6px 32px;
 cursor: pointer;
 }

.theButtons:hover {
 color: white;
 border: 2px solid white;
 box-shadow: 2px 3px 4px 2px rgb(0 0 0 / 0.1);
 }

.message {
 display: none;
 background: beige;
 text-align: center;
 margin: 12px;
 padding: 6px;
 border-radius: 6px;
 border: 1px solid red;
}

@media screen and (max-width: 800px) {
 .rollDiv { width: 80%; }
 .theInputs { margin-left: 2%; width: 90%; }
 .buttonsDiv { transform: translate(0px, 0px); }

}
