
body {	font-family: 'Roboto', Verdana, Helvetica, Sans-serif;
	background-color: black;
	margin-left: 0px;
	margin-right: 0px;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

body::-webkit-scrollbar { display: none; }

p	{color: white;}
h1	{color: white;}
a		{ color: cornflowerblue; text-decoration: none; }
a:hover		{ color: blue; text-decoration: underline; }
a:active	{ color: red; }
a:visited	{ color: hotpink; }

ul	{ padding-left: 18px; }

.return { position: absolute; right: 12px; top: 6px; color: white; font-size: 20px; transition: 3s; }

* { box-sizing: border-box; }


/* MAIN DIV SETTINGS */

.main {
  margin: auto;
  background-color: #151B54; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom, black, #151B54, #36013F);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  border: 1px solid navy;
  float: center;
  padding: 0px;
  width: 60%; /* The width is 60%, by default */
  border-radius: 24px;
  font-size: 16px;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
.main {
  /* The width is 100%, when the viewport is 800px or smaller */ 
  position: absolute;
  top: 0px;
  width: 100%;
  border: 0px solid navy;
  border-radius: 0px;
  font-size: 14px;
  min-height: 100%;
  }
}


/* BUBBLE DIV ELEMENTS */

.labels { margin-left: 20px; margin-right: 20px; padding: 0px; padding-top: 12px; }

.referencias { color: white; margin-left: auto; margin-right: 50px; }

.grid-container-pages {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto;
  background-color: transparent;
  row-gap: 16px;
  padding: 1px;
}

.grid-item-title {
  background-color: cornflowerblue;
  border: 1px solid lightgray;
  padding: 6px;
  text-align: center;
}

.grid-item-blue {
  background-color: lightblue;
  border: 1px solid lightgray;
  padding: 6px;
  text-align: left;
  border-radius: 6px;
}

.grid-item {
  background-color: lightyellow;
  border: 1px solid white;
  padding: 6px;
  text-align: left;
  border-radius: 6px;
}

.grid-item-green {
  background-color: lightgreen;
  border: 1px solid lightgray;
  padding: 6px;
  text-align: left;
  border-radius: 6px;
}

.grid-item-pink {
  background-color: pink;
  border: 1px solid lightgray;
  padding: 6px;
  text-align: left;
  border-radius: 6px;
}

.grid-item-gray {
  background-color: lightgray;
  border: 1px solid white;
  padding: 6px;
  text-align: left;
  border-radius: 6px;
}



/* LICENCE DIV SETTINGS */

.grid-item-license {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #151B54;
  border: 1px solid white;
  color: white;
  padding: 6px;
  padding-left: 18px;
  text-align: left;
  border-radius: 12px;
}



/* TOOL PAGES DIV SETTINGS */

.grid-item-slider {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #151B54;
  border: 1px solid white;
  color: white;
  padding: 6px;
  padding-left: 18px;
  text-align: left;
  border-radius: 12px;
}

.grid-item-tools {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: #151B54;
  border: 1px solid white;
  color: white;
  padding: 6px;
  padding-left: 18px;
  text-align: left;
  border-radius: 12px;
}

.grid-item-results {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: gray;
  border: 1px solid white;
  color: white;
  padding: 6px;
  padding-left: 18px;
  text-align: left;
  border-radius: 12px;
}

.grid-exam-results {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: #151B54;
  border: 1px solid white;
  color: white;
  padding: 6px;
  padding-left: 18px;
  text-align: left;
  border-radius: 12px;
}


/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .grid-item-slider {  width: 95%; }
  .grid-item-tools {  width: 90%; }
  .grid-item-results {  width: 75%; }
  .grid-exam-results {  width: 75%; }
}



/* SCHEDULE SETTINGS */

.grid-schedule {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-template-rows: 30px auto auto auto auto auto auto;
  grid-template-areas:
    'top top top top top top top'
    'div div div div div div div'
    'div div div div div div div'
    'div div div div div div div'
    'div div div div div div div'
    'div div div div div div div'
    'div div div div div div div'
    'div div div div div div div'
    'div div div div div div div'
    'div div div div div div div'
    'fin fin fin fin fin fin fin';
  gap: 0px;
  background-color: white;
  border: 2px solid navy;
  border-radius: 12px 12px;
  padding: 12px;
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
}

.grid-schedule > div {
  font-size: 12px;
  text-align: center;
  font-family: Verdana, Tahoma;
  color: #005B9A;
  padding: 1px;
  margin-right: -1px;
  border: 1px dashed darkgray;
  border-style: hidden dashed dashed dashed; /* top right bottom left */
  word-break: break-word;
}

.dropdown {
  position: absolute;
  left: 4%;
  top: -1px;
  width: 68px;
  height: 32px;
  color: white;
  font-size: 14px;
  background-color: #0F56A2;
  border: 1px solid lightgray;
  border-radius: 0px 0px 6px 6px;
  transition: background-color 0.6s; 
}

.dropdown:hover { width: 132px; background-color: #0096FF; color: white; outline: none; }
.dropdown:focus { width: 132px; background-color: #0096FF; color: white; outline: none; }
.dropdown:active { width: 132px; background-color: #00AAFF; color: white; outline: none; }

div.blueDiv {background-color: #A7C7E7; font-weight: bold; padding-top: 10px; padding-bottom: 10px; text-transform: uppercase;}
div.yellowDiv {background-color: lightyellow; font-weight: bold; padding-top: 8px;}

div.right-arrow {position: absolute; left: 8%; top: 64px; border: 0px; border-radius: 0px; visibility: visible;}
img.right-arrow {width: 24px; opacity: 0.6;}

.scheduleArea {height: 65px; width: 100%; text-align: center; font-size: 11px; font-family: Verdana, Tahoma; color: #005B9A; border: 0px; margin: 0px; margin-top: -1px; margin-bottom: -3px; padding: 1px; resize: none; overflow: hidden; text-transform: capitalize;}
.scheduleArea:focus {outline: none !important; border-color: #719ECE; box-shadow: 0 0 10px #719ECE;}
.scheduleArea:hover {outline: none !important; border-color: #719ECE; box-shadow: 0 0 10px #719ECE;}



/* INTEGRALES DIV SETTINGS */

.test-number { color: cornflowerblue; font-size: 16px; font-weight: bold; }

.slidebar { width: 92%; margin-left: 12px; outline: none; cursor: pointer; }

.double-container { display: flex; width: 98%; text-align: center; align-content: center; }
.test-left { flex: 5; padding: 6px; }
.test-right { flex: 5; padding: 6px; margin-right: 12px; }

input[type=number] {
  width: 85px;
  color: black;
  background: white;
  font-size: 15px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 18px;
  border: 3px solid cornflowerblue;
  border-radius: 6px;
  cursor: copy;
  outline: none;
}

input[type=number].results {
  width: 100px;
  font-size: 16px;
  background: darkgray;
  cursor: not-allowed;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  input[type=number] { padding-left: 3px; }
  input[type=number].results { padding-left: 3px; }
}


/* BUTTONS SETTINGS */

#getResults {
  width: 100px;
  font-size: 16px;
  background-color: darkred;
  border: 3px solid darkgray;
  border-radius: 4px 4px;
  color: white;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

#getResults:hover { background-color: #C30028; color: white; }
#getResults:active { background-color: #FC0034; color: black; }

#clearGrades {
  width: 75px;
  font-size: 16px;
  background-color: darkgreen;
  border: 3px solid darkgray;
  border-radius: 4px 4px;
  color: white;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

#clearGrades:hover { background-color: green; color: white; }
#clearGrades:active { background-color: #39FF14; color: black; }


/* ATTENDANCE SETTINGS */

.class-type { color: white; font-size: 16px; font-weight: bold; }
.class-percent { color: cornflowerblue; font-size: 16px; font-weight: bold; }
.result-text { color: white; font-size: 24px; }

input[type=number].attendance {
  width: auto;
  color: white;
  text-color: white;
  background: transparent;
  font-size: 20px;
  text-align: center;
  padding: 12px;
  border: 0px solid transparent;
  border-radius: 6px;
  pointer-events: none;
  outline: none;
}


/* EXAM SETTINGS */

.triple-container { display: flex; width: 100%; text-align: center; align-content: center; }
.triple-left	{ flex: 1; padding: 6px; margin-left: 0px; }
.triple-center	{ flex: 1; padding: 6px; }
.triple-right	{ flex: 1; padding: 6px; margin-right: 12px; }

input[type=number].average {
  width: 100%;
  color: white;
  background: darkred;
  font-size: 18px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 18px;
  border: 3px solid white;
  border-radius: 6px;
  pointer-events: none;
  outline: none;
}

input[type=number].exam {
  width: 100%;
  color: white;
  background: cornflowerblue;
  font-size: 18px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 18px;
  border: 3px solid white;
  border-radius: 6px;
  pointer-events: none;
  outline: none;
}

input[type=number].calculation {
  width: 100%;
  color: white;
  background: gray;
  font-size: 18px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 18px;
  border: 3px solid white;
  border-radius: 6px;
  pointer-events: none;
  outline: none;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  input[type=number].average { padding-left: 0px; padding-right: 0px; }
  input[type=number].exam { padding-left: 0px; padding-right: 0px; }
  input[type=number].calculation { padding-left: 0px; padding-right: 0px; }
}


/* TESTS SETTINGS */

.test-percent { color: cornflowerblue; font-size: 16px; font-weight: bold; }


/* PROMEDIOS SETTINGS */

.promedios-container {
  display: flex;
  width: 96%;
  margin-left: 3px;
  margin-top: 12px;
  margin-bottom: 6px;
  padding-bottom: 12px;
  border-bottom: 2px solid darkgray;
  text-align: center;
  align-content: center;
}

.test-titles { position: absolute; padding-left: 6px; margin-top: -1px; color: lightgray; font-size: 14px; }

input[type=number].average-input {
  width: 85px;
  color: black;
  background: white;
  font-size: 15px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 18px;
  border: 3px solid cornflowerblue;
  border-radius: 6px;
  cursor: copy;
  outline: none;
}

input[type=number].average-maths {
  width: 85px;
  color: black;
  background: darkgray;
  font-size: 15px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 18px;
  border: 3px solid cornflowerblue;
  border-radius: 6px;
  cursor: not-allowed;
  outline: none;
}


/* TIMBOX SETTINGS */

.grid-timebox {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
    'div schedule'
    'div schedule'
    'div schedule'
    'div schedule'
    'foot foot';
  gap: 18px;
}

.grid-timebox > div { background-color: lightyellow; border: 1px solid darkgray; border-radius: 6px; text-align: left; padding: 6px; }

input.timebox-inputs { width: 85%; border-width: 1px; border-radius: 6px; margin: 6px; padding: 6px; resize: none; }
input.timebox-schedule { width: 80%; border-width: 1px; border-radius: 6px; margin: 3px; padding: 6px; resize: none; }

.timebox-refresh {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  width: 85%;
  margin: 0 auto;
  padding: 10px 10px;
  background-color: green;
  border-radius: 6px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 30px;
  line-height: 12px;
  list-style: none;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.timebox-refresh:hover,
.timebox-refresh:focus {
  background-color: lightgreen;
}


.timebox-download {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  width: 85%;
  margin:0 auto;
  padding: 10px 10px;
  background-color: blue;
  border-radius: 6px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 30px;
  line-height: 12px;
  list-style: none;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.timebox-download:hover, .timebox-download:focus {
  background-color: lightblue;
}

.planner-link:link, .planner-link:visited {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  padding: 10px 24px;
  background-color: #D44336;
  border-radius: 6px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 30px;
  line-height: 10px;
  list-style: none;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.planner-link:hover, .planner-link:focus {
  background-color: red;
}

.foot {display: none;}


/* PRINT OR CONVERT TO PDF SETTINGS*/

@media print {
p {color: black; }
body {background-color: white; background: transparent;}
.main {position: absolute; width: 100%; background-color: white; background: transparent; top: 0; padding: 0px; border: 0px solid white; border-radius: 0px;}
.grid-item {display:none;}
.labels {background-color: #DBF9DB; padding-left: 24px; padding-bottom: 12px; border: 1px solid darkgray; border-radius: 6px; margin-right: 8px; margin-bottom: 12px;}
.grid-timebox {position: absolute; width: 96%; top: 105px; background-color: white;}
.grid-schedule {position: absolute; right: 2%; width: 100%; height: 96%; }
.dropdown {display:none; visibility: hidden;}
div.blueDiv {background-color: #FFD580}
div.yellowDiv {background-color: #FFD580}
.scheduleArea {height: 72px;}
.foot {display: block;}
button {display:none; visibility: hidden;}
.planner-link {display:none; visibility: hidden;}
.return {display:none; visibility: hidden;}
::placeholder {color: white; opacity: 0; /* Firefox */ }
::-ms-input-placeholder { color: white; /* Edge 12 -18 */ }


/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
	input[type=number].average-input { width: 60px; padding-left: 0px; padding-right: 0px; }
	input[type=number].average-maths { width: 60px; padding-left: 0px; padding-right: 0px; }
}