
body {
 /* background-color: #F1E3DD; Appricot */
 /* background-color: #F9E1A8; Gelatto Yellow */
 /* background-color: #E0E2E4; Grayish */
 /* background-color: #CFE0E8; Grayish Blue */
 /* background-color: #DBF9DB; Green */
 /* background-color: #50C878; Green Emerald */
 /* background-color: #98FB98; Green Mint */
 /* background-color: #F0EFEF; Mauve 1 */
 /* background-color: #D6CBD3; Mauve 2 */
 /* background-color: #E4D1D1; Peach */
 /* background-color: #F9D5E5; Purple */
  background-color: #151B54; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom, black, #151B54, #36013F);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 500% 100%;
 font-family: Verdana, Helvetica, sans-serif;
 margin-top: 0px;
 margin-left: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
}

/* HIDDEN!
body::-webkit-scrollbar { display: none; }
*/

/* SCROLLBAR */
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #4EA5FF; border: 1px solid gray; }
::-webkit-scrollbar-thumb { background: #FEFAE0; border: 1px solid gray; }
::-webkit-scrollbar-thumb:hover { background: #FEFAE0; border: 1px solid gray; }

.top {
 background-color: #FEFAE0;
 position: fixed;
 left: 0px;
 top: 0px;
 height: 44px;
 width: 100%;
 border: 1px solid gray;
 border-style: hidden hidden solid hidden; /* top right bottom left */
}

.topButtons {
 font-size: min(14px, 4vw);
 border: 2px solid darkgray;
 border-radius: 5px 5px;
 cursor: pointer;
}

.topButtons:hover { background-color: #CFE0E8; } /* Grayish Blue: #CFE0E8; */
.topButtons:active { background-color: lightblue; }

.title {
 text-align: center;
 text-shadow: 2px 2px 5px gray;
 font-size: min(1.2em, 4.5vmin);
 font-weight: bold;
 margin-top: 12px;
 margin-right: 5%;
}

.main-flex {
 display: grid;
 grid-template-columns: 30% auto;
 grid-template-rows: auto;
 grid-template-areas:
    'div div'
    'div div'
    'div div'
    'div div'
    'div div;
 gap: 0px;
 background-color: #FFFFFF33; border-radius: 12px;
 color: white;
 margin: 50px 6px;
 padding: 6px;
}

.widgetDivs {
 background-color: white;
 margin: 6px;
 padding: 6px;
 border: 2px solid white;
 border-radius: 12px
}

.widgetTitle { 
 display: flex;
 height: 20px;
 align-items: center;
 margin: -6px;
 border-radius: 12px 12px 0 0;
 padding: 6px;
}

.trashIcon {
 margin-left: 92%;
 margin-top: -26px;
 cursor: pointer;
}

.trashIcon:hover { text-shadow: 1px 1px 18px white; }

.progressWrapper {
 background-color: white;
 margin: 6px -6px -6px;
 border-radius: 0px 0px 6px 6px;
}

.progressBar {
 width: 0%;
 height: 40px;
 background-color: #A7C7E7 /* Pastel Blue */;
 color: #333;
 text-align: center;
 align-content: center;
 border-radius: 0 0 12px 12px;
}

.doubleColumnWrapper {
 display: flex;
 margin: 6px -6px -6px;
 border-radius: 0px 0px 6px 6px;
}

.rollCanvas { display: flex; width: 132px; height: 132px; margin-top: 1%; margin-left: auto; margin-right: auto; }

.plannerWrapper {
 display: grid;
 grid-template-columns: auto auto auto auto auto;
 grid-template-rows: auto;
 grid-template-areas:
    'div div div div div';
 gap: 0px;
 color: #666;
 margin: 6px -6px -6px;
 border-radius: 0px 0px 6px 6px;
 padding: 12px 24px 6px 12px;
}

.plannerDays {width: 96%; height: 130px; resize: none; }

.coffeeButton {
 background-color: lightgreen;
 margin: auto;
 width: 64px;
 height: 64px;
 font-size: 42px;
 padding: 6px;
 padding-top: 8px;
 border: 3px solid black;
 border-radius: 12px;
 cursor: pointer;
 user-select: none;
 outline: 0;
}

.coffeeButton:hover { background-color: red; }

.coffeeCups {
 position: absolute;
 margin-top: 20px;
 margin-left: 32px;
 width: 64px;
 background-color: transparent;
 font-size: 54px; color: red;
 font-weight: bold;
 text-align: center;
 padding: 20px;
 text-shadow: 1px 1px 6px white;
 border: 0px;
}

.bottom {
 position: fixed;
 left: 0px;
 bottom: 0px;
 height: 32px;
 width: 100%;
 text-align: center;
 background-color: #4EA5FF;
 font-size: min(1em, 4.5vmin);
 color: white;
 padding-top: 8px;
 border: 2px solid #FFFFFF88;
 border-style: solid hidden hidden hidden; /* top right bottom left */
}


/* Use a media query to add a break point at 800px: */
/* Use a media query to add a break point at 800px: */
/* Use a media query to add a break point at 800px: */

@media screen and (max-width: 800px) {
 .title {margin-top: 12px;}
 .time {margin-top: 4px; margin-right: 4px;}

.main-flex {
 display: grid;
 grid-template-columns: auto;
 grid-template-rows: auto;
 grid-template-areas:
    'div'
    'div'
    'div'
    'div'
    'div;
 gap: 0px;
}

.plannerWrapper {
 display: grid;
 grid-template-columns: auto;
 grid-template-rows: auto;
 grid-template-areas:
    'div'
    'div'
    'div'
    'div'
    'div';
 gap: 0px;
 margin-left: -6px ;
 margin-right: -24px ;
 border-radius: 0px 0px 6px 6px;
 padding: 12px 24px 6px 12px;
}
